html, body{
  margin:0;
  padding: 0;
  font-family: Arial, Helvetica, Sans-serif
  color: black;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px;
  background-color: #437B3F;
}
nav div a{
  position: relative;
  top:-25px;
  text-decoration: none;
  font-family: Arial;
  font-size: 16px;
  color: #1A1D20;
}
.contact{
  padding: 100px;
}
.logo{
  text-decoration: none;
  font-family: Times New Roman;
  font-size: 40px;
  color : #0A21F5;
  text-shadow: 3px 3px 2px #0C0C0D;
  -webkit-text-stroke: 1px #0E0E0F;
}
nav div a:hover{
  color : #283E4A;
}
nav img{
  padding-right: 7px;
  border-radius: 50%;
  width: 50px;
  height: 80;
}
/*----------------------------------------------------------*/
h1{
  color: #418FDC;
  font-size: 120px;
  font-family: Colonna MT;
  text-align: center;
}
h2{
  color:#41DCA2;
  font-family: Colonna MT;
  font-size: 70px;
  text-align: center;
}
iframe{
  text-align: center;
  width:650px;
  height:300px;
}


p{
  text-indent: 15px;
}

footer{
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  background-color: #96A8B2;
  padding: 3px;
  color: #FFFFFF;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  font-style: italic;
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}