
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px;
  background-color: #437B3F;
}

.logo{
  text-decoration: none;
  font-family: Times New Roman;
  font-size: 40px;
  color : #0A21F5;
  text-shadow: 3px 3px 2px #0C0C0D;
  -webkit-text-stroke: 1px #0E0E0F;
}


nav a img{
  color: #0C0C0D;
  padding-right: 7px;
  border-radius: 50%;
  width: 50px;
  height: 100;
}
nav a{
  color: #0E0E0F;
}
nav a:hover{
  color: #5893eb;
  text-decoration: none;
}
nav ul{
  list-style: none;
  display: inline-block;
}

nav ul li{
   float: left;
   margin-top: 20px;
}

nav ul li a {
   color: white;
   font-weight: bold;
   text-decoration: none;
   font-size: 20px;
   padding: 70px;
}

nav ul li a:hover{

 color: #5db86c;
 text-decoration: none;
}
/*----------------------------------------------------------*/
h1{
  color: #418FDC;
  font-size: 120px;
  font-family: Colonna MT;
  text-align: center;
}
h2{
  color:#41DCA2;
  font-family: Colonna MT;
  font-size: 70px;
  text-align: center;
}
iframe{
  text-align: center;
  width:650px;
  height:300px;
}

footer {
  list-style: height 25px;
  background:#313945;
  color:white;
  text-align:center;
  bottom:0;
  left:0;
  width:100%;
}
footer ul{
  list-style: none;
  display: inline-block;
}

footer ul li{
   float: left;
}

footer ul li a {
   color: white;
   font-weight: bold;
   text-decoration: none;
   font-size: 15px;
   padding-left: 50px;
   padding-right: 50px;
}

footer ul li a:hover{
 color: #3279d6;
 text-decoration: none;
}